@import url("https://fonts.googleapis.com/css2?family=Anton&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "DroidKufi";
  src: url("../fonts/DroidKufi-Regular.ttf");
}

:root {
  --primaryColor: #fe6059;
  --secondaryColor: #1dc3f6;
  --greyColor: #eee;
  --whiteColor: #fff;
  --blackColor: #000;
  --boxShadow: 5px 4px 9px #dfdfdf;
  --droidKufi: "DroidKufi";
  --robotoFonts: "Roboto";
  --sectionPadding: 80px 0px;
}

* {
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* height: 1700px; */
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 3fr 3fr 1fr;
  height: 700px;
}

.container .header {
  background-color: skyblue;
  grid-column: 1 / span 3;
  grid-row: 1;
  border: 1px solid black;
}
.container .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}
.container .content .content-left {
  background-color: sienna;
  grid-column: 1;
  grid-row: 2 ;
  border: 1px solid black;
  margin: 5px;

}

.container .content .content-right {
  background-color: sienna;
  grid-column: 2;
  grid-row: 2;
  border: 1px solid black;
  margin: 5px;
}

.container .content .right-nav {
  background-color: yellow;
  grid-column: 3;
  grid-row: 2 / span 3;
  border: 1px solid black;
  margin: 5px;
}

.container .content .content-bottom {
  background-color: lightgray;
  grid-column: 1 / span 2;
  grid-row: 3;
  border: 1px solid black;
  margin: 5px;
}

.container .footer {
  background-color: pink;
  grid-column: 1 / span 3;
  grid-row: 4;
  border: 1px solid black;
}
